// TODO: cercare: 123klan


// TODO: add variables into mixins on sass-js 
+gradient(!start, !end)
  background-image: -webkit-linear-gradient(!start, !end)
  background: !start

// this is your main css file, loaded after reset.sass feel free to delete everything and write your own styles

!text_color2 = #FFF
!main_c = #000

+rounded
  border-radius: 10px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px

!side_margin = 4%
!side_margin_half = 2%
!cont_margin_top = 1%
!max_width = 1000px

!cont_width = 60%
!right_width = 28%

!full = 92% 


@font-face
  font-family: Chinese_Rocks
  src: url('/fonts/chinese_rocks.ttf')
  
@font-face
  font-family: bebas_neue
  src: url('/fonts/bebas_neue.ttf')
  
@font-face
  font-family: chunkfive
  src: url('/fonts/league_gothic.otf')

body
  background: #fefefe
  font-family: arial, helvetica, sans-serif
  

strong
  font-weight: bold
em
  font-style: italic

button
  padding: 5px 10px
  
body
  color: #111
  +gradient(#FFF, #888)
   background: -webkit-linear-gradient(left , #DDD 0%, #FFF 5%, #FFF 95%, #DDD 100%)
  //background: -webkit-linear-gradient(left , white 0%, grey 2%, white 2.01%, white 98%, grey 98.01%, white 100%)
#container
  margin: 20px auto



.page
  margin: 15px !side_margin
  width: !cont_width
  
.page.home
  padding-top: !cont_margin_top


//100% - !side_margin*2

.page.full
  width: !full

a
  color: !main_c
  
a:hover
  text-shadow:  0px 0px 1px #888, 0px 0px 3px #F5C593

h1 
  margin: 0 0 8px
  img  
    float: left
    width: 230px 
    margin: 0 0 0 !side_margin
  img:hover
    opacity: 0.85

.nav_box
  margin: 0px auto
  max-width: !max_width
  min-width: 320px

.nav_cont
  background: !main_c
  text-align: center
  margin: 0 auto
  width: 92%
  //border: 2px dashed #AAA
  // margin: 0px 35% 0px 4%
  // width: 61%
  max-width: !max_width
  span
   color: #fff
  
  
#content, .outer
  margin: 0 auto
  min-width: 320px
  max-width: !max_width

  
nav 
  text-align: left
  padding: 5px 0 2px
  // !side_margin / 2
  margin: 5px !side_margin_half 0
  font-size: 1.1em
  a
    font-size: 0.9em
    color: !text_color2
    padding: 2px 2% 3px 2%
    +rounded
    display: inline-block
  a:hover  
    color: #ddd
    text-shadow: 0 0 2px #000, 0 0 5px #EEE
    
nav a, .right h3
  font-family: bebas_neue    
    
ul
  margin: 10px 0 20px
  li
   margin: 3px 0 5px
   font-weight: bold
  
h2, .page.videos h3, .page.collabs h3, .page.chi_siamo h3, .page.events h3, .page.home .articles h2 
  margin: 0 0 10px 0
  font-family: chunkfive
  font-size: 1.4em
  padding: 3px 2%  
  background: !main_c
  color: white
  padding: 0 2%
  word-spacing: 2%
  a
    color: #FFF
    
.page.collabs h3 a
  color: #FFF
    
p
  margin: 3px 0 5px
  
  
.box
  color: !text_color2
  padding: 2px 9px
  margin: 0 0 15px 0
  +rounded
  background: !main_c

ul span
  color: #333
  font-size: 0.9em
  font-weight: normal

.themes
  float: right
  text-align: center
  background: #DDD
  padding: 8px
  +rounded
  .red 
    background: #F00
  .blue
    background: #00F
  
a, span
  color: !main_c
  
h3
  font-size: 1.3em

.articles
  p
    text-align: justify
  article
    clear: left
    margin: 0 0 15px 0 
  .imgbox    
    width: 40%
    margin: 0 10px 2px 0
    float: left
  img
    width: 100%
    height: 180px
  .img_cont img
    overflow: hidden
    height: 160px
    margin: 0 0 10px 0
    

.box  
  background: !main_c
  
#debug
  position: absolute
  top: 0 
  right: 0
  display: none
  padding: 5px 10px
  background: #fff
  box-shadow: 3px, 3px, #999
  font-size: 1em


.right
  float: right
  width: !right_width
  margin: 0 !side_margin 0 0
  padding: !cont_margin_top
  border-left: 2px dashed black
  text-align: center
  div
    margin: 0 0 20px 0
  h3
    margin: 0 0 5px
    font-size: 1.25em
  
.last_number
  img
    margin: 0 auto 8px 0
    width: 94.5%
  img:hover
    opacity: 0.85

.partners
  img
    width: 60%
    margin: 10px 0
    
    
#img_gal  
  position: relative
  overflow: hidden
  .caption
    position: absolute
    font-family: bebas_neue 
    color: #FFF
    padding: 10px
    background: #555
    opacity: 0.8
    width: 35.5%
    font-size: 1.5em
    z-index: 4
  img 
    position: absolute
    width: 100%
    -webkit-transition-property: opacity
    -webkit-transition-duration: 1s
    -webkit-transition-timing-function: ease-in-out
    -moz-transition-property: opacity
    -moz-transition-duration: 1s
    -moz-transition-timing-function: ease-in-out
    opacity: 0
  img:first-child
    opacity: 1

.music
  iframe
    width: 100%
    height: 350px
    
.page .yt_video
  width: 100%
  height: 400px

.numbers
  img 
    margin: 0 0 13px 0
    padding: 0 1.1% 0 0
    width: 18.3%
  

.history
  text-align: center

.issuu embed, .issuu
  width: 100%
  height: 600px
  max-width: 730px
  margin: 0 auto

.page.article
  width: !full
  text-align: justify 
  img.max
    margin: 20px 0
    width: 100%
    
.article
  img
    width: 40%
    float: left
    margin: 0 12px 0 0
    
.page.article
  img:first-child 
    margin: 0 2% 0 0
    float: left
  img
    margin: 7px 0 0 2%
    width: 40%
    float: right
    
  .article_infos
    text-align: left
    display: block
  
  img:nth-of-type(even)
    float: right
    
.article_infos
  clear: left
  margin: 30px 0 0 0
  border-top: 2px dashed black
  .by
    display: inline
    font-weight: bold
    font-size: 1.1em
    
    
.articles .published_at, .article .published_at
  float: right
  margin: 5px 0 0 0 
  font-size: 0.8em
  font-style: italic
  font-weight: bold

.articles .by
  font-weight: bold
  font-style: italic
  font-size: 0.8em
  
  
.articles .text
  font-size: 0.85em
  
.page.articles_page, .page.collabs, .page.event
  width: !full
  margin: 20px auto 0

  
.collabs .articles
  float: left
    

.right .events div
  font-size: 0.8em
  



.page.events
  h3
    text-transform: uppercase
    a
      color: #FFF 
	
	 
  div.date
    font-size: 0.8em
    width: 74px
    color: #FFF
    display: inline-block

.page.chi_siamo
  text-align: left
  font-size: 0.9em
  
.chi_siamo .who_right 
  width: 40%
  margin: 0 0 0 2%
  float: left
.chi_siamo .who_left
  width: 55% 
  // -!side_margin
  float: left
  .text
    float: left
    width: 56%

.event
  margin: 10px 0 0 0

.videos
  iframe
    width: 100%
    height: 400px

.stripe
  background: black
  height: 30px
  z-index: 1
  position: relative
  top: 50px
  margin: 0 auto
  width: 90%
  max-width: 1000px
   
.furgone
  margin: 29px 0 10px 4%
  z-index: 2
  position: relative
  float: left
  width: 20% 

.member 
  clear: left
  margin: 0 0 10px 0 
  img
    width: 45%
    float: left
     
#fiveapi
  margin: 0 2.3% 0 0
#container #fiveapi
  box-shadow: none
  border-radius: 0
  border: 5px groove #AAA
#container #fiveapi
  #fiveapi_edit, #fiveapi_login 
    a
      color: #FFF
  
// TODO: add media queries support to clientside-sass-js
@media (min-width: 1000px)
  body
    font-size: 1.4em
    
