- link = "/articoli/"+id

.article
  %h2
    %a{ href: link }= title
  .text
    != haml.article_preview(text)
  .article_infos
    .by 
      = published_by
    .published_at
      = haml.format_date(published_at)
  .clear_left