.page.full.chi_siamo

  .who_left
    .fiveapi_element{ "data-type": "collection", "data-name": "chi_siamo" }
    -# %section.articles

  .who_right
    %h3 Contatti
    .contatti
      %p
        %a{ href: "mailto:redazione@riotvan.net" } redazione@riotvan.net
      %p
        %a{ href: "https://www.facebook.com/pages/Riot-Van/45766863663"} Pagina Facebook
      %p
        %a{ href: "http://twitter.com/#!/RedazioneRV"} Profilo Twitter
      %p
        %a{ href: "http://www.youtube.com/user/RIOTVANvideo"} Canale Youtube
    %h2 Chi Siamo
    .md<
      Riot Van nasce nel 2009 come un laboratorio editoriale, creato da un gruppo di studenti universitari delle facoltà di giornalismo e disegno industriale. Riot Van è prima di tutto un magazine di attualità e cultura urbana. Per questo i suoi primi interlocutori sono tutti coloro che si interessano di quello che accade all'interno delle città e del loro tessuto socio-culturale. Attualità, musica, arte, cultura rappresentano la base dei contenuti della rivista. Cercare le persone e le cose che meritano di essere raccontate all'interno di queste aree. Raccoglierle ed elaborarle per metterle a disposizione di coloro che meritano di leggerle. Proporre idee e alternative, conoscere le nostre vite provando a guardarle da molteplici prospettive.
Durante il suo percorso, Riot Van ha ampliato le proprie aree di attività, allargandosi alla produzione di contenuti video, con la RV Production, e all'organizzazione di eventi e iniziative di carattere culturale come mostre e serate musicali, dando vita all'omonima associazione culturale Riot Van.