.page.full.chi_siamo

  .who_left
    .fiveapi_element{ "data-type": "collection", "data-name": "chi_siamo" }
    -# %section.articles
    
  .who_right
    %h2 Chi Siamo
    .md<
      Riot Van è un magazine free press fondato nel 2008 che si occupa di attualità, musica e cultura con uno stile particolare, rivolto ad un pubblico giovane ed attento. La rivista è edita dall’Associazione Culturale Riot Van, la cui missione è la promozione di una cultura dell’informazione indipendente ed equilibrata, unita al sostegno di una cittadinanza attiva e partecipe. In particolare, l’intento dell’associazione è rivolto ad incentivare la circolazione di idee e contenuti sia informativi che culturali, soprattutto fra i giovani compresi tra i venti e i trent’anni.

      Riceviamo finanziamenti dall’Università degli studi di Firenze e dal Diritto allo studio regionale (DSU Toscana).
      La testata è registrata presso il tribunale di Firenze (reg. n. 5707, 12/03/09) ed è a firma del direttore responsabile Michele Manzotti, giornalista professionista de “La Nazione” e di “Contro Radio”.

      RiotVan, anche se di carattere principalmente underground, ha intervistato personaggi in ogni ambito. Per la musica abbiamo incontrato Patti Smith, Afrika Bambaataa, Caparezza, Dick Dale, Andy dei Bluvertigo (anche in veste di pittore), Entics, Videomind, Dj Hype, Rodigan e Alborosie (solo per citarne alcuni) e numerosi gruppi emergenti.

      La nostra vicinanza a posizioni in favore della Legalità, ci ha portato a discutere con l’europarlamentare ed ex-magistrato Luigi De Magistris, il procuratore antimafia Pietro Grasso, il costituzionalista e collaboratore de “Il Fatto Quotidiano” Bruno Tinti e il giornalista ed editore siciliano Pino Maniaci. Nell’ambito della politica locale sono stati intervistati i principali candidati a sindaco nel 2009 per il comune di Firenze (Renzi, Galli, De Zordo, Spini) e gli attuali assessori Giachi (politiche giovanili) e Mattei (mobilità e decoro). Sono stati con noi anche l’attore Ascanio Celestini, l’artista Graziano Cecchini, gli scrittori Enrico Brizzi e Giovanni Santoni ed il regista svedese Jan Svanknajer.

      Infine, per rinsaldare il nostro legame con le istituzioni accademiche, sono stati intervistati due docenti all’università di Firenze, Carlo Sorrentino e Luigi Lombardi Vallauri.
