.page.collabs
  %h2 Collaboratori
  
  %section.articles
    %article      
      .imgbox
        %a{ href: "/article" }
          %img{ src: "/images/articles/1.png" }
      %h3 
        %a{ href: "/article" } Mario Rossi
      %p E' fuori, a giro, nei posti più tosti. In città sembra che alcuni l'abbiano già avvistato! Il nuovo numero di RIOT VAN, il decimo per l'esattezza, si sta facendo già conoscere tra i più svegli. Anche i pigri però, se lo potranno permettere. Da ... 
      [fb like]
      [nome]
      .clear_left
      
    %article    
      .imgbox
        %img{ src: "/images/articles/2.png" }
      %h3 Iddahane
      %p Tutta la diretta fotografica che Super-magazine ha realizzato al Festival Internazionale del film di Roma all'Auditorium parco della musica fino allo scorso 4 novembre.
      [fb like]
      [nome]
      .clear_left
      
    %article  
      .imgbox
        %img{ src: "/images/articles/3.png" }
      %h3 Tullo Sai
      %p Tutta la diretta fotografica che Super-magazine ha realizzato al Festival Internazionale del film di Roma all'Auditorium parco della musica fino allo scorso 4 novembre.
      [fb like]
      [nome]
      .clear_left
      
    %article  
      .imgbox
        %img{ src: "/images/articles/4.png" }
      %h3 Dee Dee &amp; Brandon of DUM DUM GIRLS &amp; CROCODILES
      %p Venerdì 25 novembre Dee Dee e Brandon Welchez rispettivamente leader di Dum Dum Girls e Crocodiles, si esibiranno dal vivo portandoci un'ondata di indie rock americano. A Dee Dee e Brandon Welchez dobbiamo anche due recenti pubblicazioni, la prima ... leggi tutto
      [fb like]
      [nome]
      .clear_left

  