.page.events
  %h2 Eventi
  
  #fiveapi_collection{ "data-name": "eventi" }
  
  %div 
    %span.date 22/02/2012
    %a{ href: "/event" } Evento next2
  
  %div
    %span.date 15/01/2012
    Next!!!
  
  %div 
    %span.date 14/01/2012
    Ultimo evento bomba!