- link = "/events/"+id+"-"+name_url

.event
  %h2
    %a{ href: link }
      %span.date 
        = haml.format_date(published_at)
        = "-"
      = title
  .text
    != text
  
  .fb
    .fb-like{ "data-href": haml.host+link, "data-send": "true", "data-width": "300", "data-show-faces": "true", "data-action": "recommend", "data-font": "trebuchet ms" }
  .clear