.right
  .last_number
    / %h3 Ultimo Numero
    %a{ href: "/issues/#{ISSUE_NUM}" }
      %img{ src: "/images/numbers/#{ISSUE_NUM}.png" }

  /
    .non.pillola.ma.concorso_fotografico
      %h3 Concorso fotografico
      %p
        - link_to "Scarica il bando", "/pdf/concorso_fotografico2.pdf"

  /
    .spam_libro.last_number
      %a{ href: "/guerrilla_spam/libro" }
        %h3 Tutto ciò che sai è falso
        %img{ src: "/images/guerrilla_spam/guerrilla_spam_libro_dettaglio.jpg"}
  .spam_libro.last_number
    %a{ href: "/events" }
      %h2 Calendario Eventi

  :plain
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{ background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:100%; }
    	#mc_embed_signup h2 { padding: 2px 5px; }
    	#mc_embed_signup #mc-embedded-subscribe { margin: 0; }
    	#mc_embed_signup .mc-field-group { margin: 0; }
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="http://riotvan.us6.list-manage.com/subscribe/post?u=360847a5ff1fe3497ccf0ef16&amp;id=c90d4a8ce0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<h3>Newsletter</h3>
    
    <div class="mc-field-group">
    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>	<div class="clear"><input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>
    <script type="text/javascript">
    var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
    try {
        var jqueryLoaded=jQuery;
        jqueryLoaded=true;
    } catch(err) {
        var jqueryLoaded=false;
    }
    var head= document.getElementsByTagName('head')[0];
    if (!jqueryLoaded) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
        head.appendChild(script);
        if (script.readyState && script.onload!==null){
            script.onreadystatechange= function () {
                  if (this.readyState == 'complete') mce_preload_check();
            }    
        }
    }

    var err_style = '';
    try{
        err_style = mc_custom_error_style;
    } catch(e){
        err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
    }
    var head= document.getElementsByTagName('head')[0];
    var style= document.createElement('style');
    style.type= 'text/css';
    if (style.styleSheet) {
      style.styleSheet.cssText = err_style;
    } else {
      style.appendChild(document.createTextNode(err_style));
    }
    head.appendChild(style);
    setTimeout('mce_preload_check();', 250);

    var mce_preload_checks = 0;
    function mce_preload_check(){
        if (mce_preload_checks>40) return;
        mce_preload_checks++;
        try {
            var jqueryLoaded=jQuery;
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
        head.appendChild(script);
        try {
            var validatorLoaded=jQuery("#fake-form").validate({});
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        mce_init_form();
    }
    function mce_init_form(){
        jQuery(document).ready( function($) {
          var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
          var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
          $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
          options = { url: 'http://riotvan.us6.list-manage.com/subscribe/post-json?u=360847a5ff1fe3497ccf0ef16&id=c90d4a8ce0&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                        beforeSubmit: function(){
                            $('#mce_tmp_error_msg').remove();
                            $('.datefield','#mc_embed_signup').each(
                                function(){
                                    var txt = 'filled';
                                    var fields = new Array();
                                    var i = 0;
                                    $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                    $(':hidden', this).each(
                                        function(){
                                            var bday = false;
                                            if (fields.length == 2){
                                                bday = true;
                                                fields[2] = {'value':1970};//trick birthdays into having years
                                            }
                                        	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                        		this.value = '';
    									    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                        		this.value = '';
    									    } else {
    									        if (/\[day\]/.test(fields[0].name)){
        	                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;									        
    									        } else {
        	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
    	                                        }
    	                                    }
                                        });
                                });
                            $('.phonefield-us','#mc_embed_signup').each(
                                function(){
                                    var fields = new Array();
                                    var i = 0;
                                    $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                    $(':hidden', this).each(
                                        function(){
                                            if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                        		this.value = '';
    									    } else {
    									        this.value = 'filled';
    	                                    }
                                        });
                                });
                            return mce_validator.form();
                        }, 
                        success: mce_success_cb
                    };
          $('#mc-embedded-subscribe-form').ajaxForm(options);


        });
    }
    function mce_success_cb(resp){
        $('#mce-success-response').hide();
        $('#mce-error-response').hide();
        if (resp.result=="success"){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(resp.msg);
            $('#mc-embedded-subscribe-form').each(function(){
                this.reset();
        	});
        } else {
            var index = -1;
            var msg;
            try {
                var parts = resp.msg.split(' - ',2);
                if (parts[1]==undefined){
                    msg = resp.msg;
                } else {
                    i = parseInt(parts[0]);
                    if (i.toString() == parts[0]){
                        index = parts[0];
                        msg = parts[1];
                    } else {
                        index = -1;
                        msg = resp.msg;
                    }
                }
            } catch(e){
                index = -1;
                msg = resp.msg;
            }
            try{
                if (index== -1){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);            
                } else {
                    err_id = 'mce_tmp_error_msg';
                    html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';

                    var input_id = '#mc_embed_signup';
                    var f = $(input_id);
                    if (ftypes[index]=='address'){
                        input_id = '#mce-'+fnames[index]+'-addr1';
                        f = $(input_id).parent().parent().get(0);
                    } else if (ftypes[index]=='date'){
                        input_id = '#mce-'+fnames[index]+'-month';
                        f = $(input_id).parent().parent().get(0);
                    } else {
                        input_id = '#mce-'+fnames[index];
                        f = $().parent(input_id).get(0);
                    }
                    if (f){
                        $(f).append(html);
                        $(input_id).focus();
                    } else {
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);
                    }
                }
            } catch(e){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);
            }
        }
    }

    </script>
    <!--End mc_embed_signup-->
  
  .others
    %h3
      %a{ href: "/lista_distribuzione" } Lista Distribuzione
    %h3
      %a{ href: "/soluzioni_cruciverba" } Soluz. Cruciverba


  .pillola
    %h3 Spillo
    %p
      %span “

      //////// CITAZIONE
      \- Quello che mi frega e'una schiacciante, infinita nostalgia per i miei vent'anni.
      \- A ventitre' anni?
      \- A ventitre' anni

      ////////////////////////

      %span ”
    // non cancellare qua...
    %p

      //////// AUTORE
      Vanni Santoni, Personaggi Precari
      ////////////////////////

  .events
    -# %h3
    -#  %a{ href: "/events" } Ultimi Eventi
    -#%div
    -#  %span.date 22/02/2012
    -#  %a{ href: "/event" } Evento next2
    -#
  -# .music
  -#   %h3 Musica
  -#   - playlist = "1237306"
  -#   - color = "ff7700"
  -#   -# if connection_is_available
  -#   - src = "http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F"+playlist+"}&amp;auto_play=false&amp;show_artwork=false&amp;color=ff7700"
  -#   %iframe{ src: src, scrolling: "no", frameborder: "no" }

  .partners
    %h3 Partners
    %a{ href: "http://www.blueswriters.com" }
      %img{ src: "/images/partners/blueswriters.png" }
    %a{ href: "http://nodump.it" }
      %img{ src: "/images/partners/no_dump.png" }
    %a{ href: "http://guerrillaspam.blogspot.it" }
      %img{ src: "/images/partners/guerrilla_spam.png" }
    %a{ href: "http://www.velvetgoldmine.eu" }
      %img{ src: "/images/partners/gold.png" }

    /
      %a{ href: "http://www.parkourfirenze.org" }
        %img{ src: "/images/partners/parkhour.png" }
      %a{ href: "http://super-magazine.com" }
        %img{ src: "/images/partners/super_magazine.png" }


  .fb_like_box
    .fb-like-box{ :"data-href" => "https://www.facebook.com/pages/Riot-Van/45766863663", :"data-width" => "240px", :"data-show-faces" => "true", :"data-border-color" => "#FFF", :"data-stream" => "false", :"data-header" => "true" }


.page.home
  #img_gal
    .caption

  %section.articles
    .fiveapi_element{ :"data-type" => "collection", :"data-name" => "articoli" }
      - if @articles
        - @articles.each do |article|
          = partial :articolo, article
  %p.pagination_text
    Pagine
  .pagination{ :"data-collection" => "articoli" }
