.right
  .last_number
    / %h3 Ultimo Numero
    %a{ href: "/issues/11" }
      %img{ src: "/images/numbers/11.png" }

  .pillola
    %h3 Spillo
    %p
      %span “
      Le grandi compagnie non sono capaci di innovazione vincente. Quanto più migliora la loro gestione, tanto più peggiora la loro capacità di accettare il cambiamento e praticare l'innovazione. L'innovazione rimarrà prerogativa di agili start-up in grado di sfidare il mercato. 

      %span ”
    .by
      Marc Andreessen, capitalista di ventura e fondatore di Netscape.


  .events
    -# %h3
    -#  %a{ href: "/events" } Ultimi Eventi
    -#%div
    -#  %span.date 22/02/2012
    -#  %a{ href: "/event" } Evento next2
    -#
  -# .music
  -#   %h3 Musica
  -#   - playlist = "1237306"
  -#   - color = "ff7700"
  -#   -# if connection_is_available
  -#   - src = "http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F"+playlist+"}&amp;auto_play=false&amp;show_artwork=false&amp;color=ff7700"
  -#   %iframe{ src: src, scrolling: "no", frameborder: "no" }

  .partners
    %h3 Partners
    %a{ href: "http://nodump.it" }
      %img{ src: "/images/partners/no_dump.png" }
    %a{ href: "http://www.velvetgoldmine.eu" }
      %img{ src: "/images/partners/gold.png" }
    %a{ href: "http://www.parkourfirenze.org" }
      %img{ src: "/images/partners/parkhour.png" }
    %a{ href: "http://super-magazine.com" }
      %img{ src: "/images/partners/super_magazine.png" }


  .fb_like_box
    .fb-like-box{ "data-href": "https://www.facebook.com/pages/Riot-Van/45766863663", "data-width": "240px", "data-show-faces": "true", "data-border-color": "#FFF", "data-stream": "false", "data-header": "true" }


.page.home
  #img_gal
    .caption

  %section.articles
    .fiveapi_element{ "data-type": "collection", "data-name": "articoli" }
	%p.pagination_text
	  Pagine
  .pagination{ "data-collection": "articoli" }
