.right
  %div
    [ultimo numero]
  %div
    musica]
  %div
    partner]
  %div
    [articoli simili]


.page
  #img_gal
    %img{ src: "/images/articles/1.png" }
    %img{ src: "/images/articles/2.png" }
    %img{ src: "/images/articles/3.png" }
    %img{ src: "/images/articles/4.png" }

  %section.articles
    %article      
      .imgbox
        %img{ src: "/images/articles/1.png" }
      %h2 Riot Van #10 is out!
      %p E' fuori, a giro, nei posti più tosti. In città sembra che alcuni l'abbiano già avvistato! Il nuovo numero di RIOT VAN, il decimo per l'esattezza, si sta facendo già conoscere tra i più svegli. Anche i pigri però, se lo potranno permettere. Da ... 
      [fb like]
      .clear
      
    %article    
      .imgbox
        %img{ src: "/images/articles/2.png" }
      %h2 Foto dal festival internazionale del film a Roma 2011!
      %p Tutta la diretta fotografica che Super-magazine ha realizzato al Festival Internazionale del film di Roma all'Auditorium parco della musica fino allo scorso 4 novembre.
      [fb like]
      .clear
      
    %article  
      .imgbox
        %img{ src: "/images/articles/3.png" }
      %h2 Foto dal festival internazionale del film a Roma 2011!
      %p Tutta la diretta fotografica che Super-magazine ha realizzato al Festival Internazionale del film di Roma all'Auditorium parco della musica fino allo scorso 4 novembre.
      [fb like]
      .clear
      
    %article  
      .imgbox
        %img{ src: "/images/articles/4.png" }
      %h2 Dee Dee &amp; Brandon of DUM DUM GIRLS &amp; CROCODILES
      %p Venerdì 25 novembre Dee Dee e Brandon Welchez rispettivamente leader di Dum Dum Girls e Crocodiles, si esibiranno dal vivo portandoci un'ondata di indie rock americano. A Dee Dee e Brandon Welchez dobbiamo anche due recenti pubblicazioni, la prima ... leggi tutto
      [fb like]
      .clear

      