.right
  .last_number
    / %h3 Ultimo Numero
    %a{ href: "/read" }
      %img{ src: "/images/numbers/10.png" }
  .events
    %h3 
      %a{ href: "/events" } Ultimi Eventi
    %div 
      %span.date 22/02/2012
      %a{ href: "/event" } Evento next2
    %div
      %span.date 15/01/2012
      Next!!!
    %div 
      %span.date 14/01/2012
      Ultimo evento bomba!
  .music
    %h3 Musica
    - playlist = "1237306"
    - color = "ff7700"
    - src = "http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F"+playlist+"}&amp;auto_play=false&amp;show_artwork=false&amp;color=ff7700"
    %iframe{ src: src, scrolling: "no", frameborder: "no" }

  .partners  
    %h3 Partners
    %a{ href: "http://nodump.it" }
      %img{ src: "/images/partners/no_dump.png" }
    %a{ href: "http://www.velvetgoldmine.eu" }      
      %img{ src: "/images/partners/gold.png" }
    %a{ href: "http://parkourfirenze.com" }
      %img{ src: "/images/partners/parkhour.png" }
    %a{ href: "http://super-magazine.com" }
      %img{ src: "/images/partners/super_magazine.png" }
    


.page.home
  #img_gal
    %img{ src: "/images/articles/1.png" }
    %img{ src: "/images/articles/2.png" }
    %img{ src: "/images/articles/3.png" }
    %img{ src: "/images/articles/4.png" }
    .caption

  %section.articles
    #fiveapi_collection{ "data-name": "articoli" }