.right
  .last_number
    / %h3 Ultimo Numero
    %a{ href: "/issues/12" }
      %img{ src: "/images/numbers/12.png" }

  /
    .non.pillola.ma.concorso_fotografico
      %h3 Concorso fotografico
      %p
        - link_to "Scarica il bando", "/pdf/concorso_fotografico2.pdf"

  .spam_libro.last_number
    %a{ href: "/guerrilla_spam/libro" }
      %h3 Tutto ciò che sai è falso
      %img{ src: "/images/guerrilla_spam/guerrilla_spam_libro_dettaglio.jpg"}

  .pillola
    %h3 Spillo
    %p
      %span “
      //////// citazione
      Buona parte del giornalismo rock è fatto da gente che non sa scrivere che intervista gente che non sa parlare per gente che non sa leggere.
      ////////
      %span ”
    .by
      //////// autore
     Frank Zappa
      ////////



  .events
    -# %h3
    -#  %a{ href: "/events" } Ultimi Eventi
    -#%div
    -#  %span.date 22/02/2012
    -#  %a{ href: "/event" } Evento next2
    -#
  -# .music
  -#   %h3 Musica
  -#   - playlist = "1237306"
  -#   - color = "ff7700"
  -#   -# if connection_is_available
  -#   - src = "http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F"+playlist+"}&amp;auto_play=false&amp;show_artwork=false&amp;color=ff7700"
  -#   %iframe{ src: src, scrolling: "no", frameborder: "no" }

  .partners
    %h3 Partners
    %a{ href: "http://www.blueswriters.com" }
      %img{ src: "/images/partners/blueswriters.png" }
    %a{ href: "http://nodump.it" }
      %img{ src: "/images/partners/no_dump.png" }
    %a{ href: "http://guerrillaspam.blogspot.it" }
      %img{ src: "/images/partners/guerrilla_spam.png" }
    %a{ href: "http://www.velvetgoldmine.eu" }
      %img{ src: "/images/partners/gold.png" }

    /
      %a{ href: "http://www.parkourfirenze.org" }
        %img{ src: "/images/partners/parkhour.png" }
      %a{ href: "http://super-magazine.com" }
        %img{ src: "/images/partners/super_magazine.png" }


  .fb_like_box
    .fb-like-box{ :"data-href" => "https://www.facebook.com/pages/Riot-Van/45766863663", :"data-width" => "240px", :"data-show-faces" => "true", :"data-border-color" => "#FFF", :"data-stream" => "false", :"data-header" => "true" }


.page.home
  #img_gal
    .caption

  %section.articles
    .fiveapi_element{ :"data-type" => "collection", :"data-name" => "articoli" }
      - if @articles
        - @articles.each do |article|
          = partial :articolo, article
  %p.pagination_text
    Pagine
  .pagination{ :"data-collection" => "articoli" }
