.page.full
  .numbers
    %a{ href: "/article" }
      %img{ src: "/images/numbers/10.png" }
    %img{ src: "/images/numbers/9.png" }
    %img{ src: "/images/numbers/8.png" }
    %img{ src: "/images/numbers/7.png" }
    %img{ src: "/images/numbers/6.png" }
    %img{ src: "/images/numbers/5.png" }
    %img{ src: "/images/numbers/4.png" }
    %img{ src: "/images/numbers/3.png" }
    %img{ src: "/images/numbers/2.png" }
    %img{ src: "/images/numbers/1.png" }
    %img{ src: "/images/numbers/0.png" }
