!!! 5
%html
  %head
    %title RiotVan

    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/

    %link{ href: "/css/reset.css", rel: "stylesheet" }
    %link{ href: "/css/app.css", rel: "stylesheet"  }

    = partial :metas

  %body
    #container
      %header
        .outer
          %h1
            %a{ href: "/" }
              / RiotVan
              %img{ src: "/images/rv_logo.png" }
            .clear
          .srvstatus
          #fiveapi_message
          #fiveapi
        .nav_box
          .nav_cont
            %nav
              %a{ href: "/videos" }     Video
              %span /
              %a{ href: "/events" }     Eventi
              %span /
              %a{ href: "/issues" }     Magazine
              %span /
              %a{ href: "/workshop" }   Workshop
              %span /
              %a{ href: "/chi_siamo" }  Chi siamo
              %span /
              %a{ href: "/collabs" }    Collaborazioni

      .clear
      #debug

      #content
        #webgl
        = yield
        .clear
      %footer
        %img.furgone{ src: "/images/van_mini_glow.png" }
        .stripe
      #fb-root

    %script{ src: "/js/vendor/jquery.js" }
    %script{ src: "/js/vendor/markdown.js" }
    %script{ src: "/js/vendor/haml/underscore.js" }
    %script{ src: "/js/vendor/haml/underscore.string.js" }
    - # if IE < 9?
    %script{ src: "/js/vendor/haml/json2.js" }
    %script{ src: "/js/vendor/haml.js" }
    %script{ src: "/js/vendor/jquery_imagesloaded.js" }
    %script{ src: "/js/vendor/jquery_clean.js" }
    -# %script{:src => "/fivetastic/vendor/all.js"}
    %script{ src: "/js/app.js" }
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f54b5e6f5a1f50fbb0000c2');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17134705-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();