-# contents in #head and #body will be appended to head and body tags in index.html, same thing for #title
%div
  #head
    #title RiotVan
    %link{ type: "text/sass", href: "/sass/reset.sass" }
    %link{ type: "text/sass", href: "/sass/app.sass" }
    %link{ type: "text/sass", href: "/sass/theme_red.sass", id: "theme" }
    %style
      @media (min-width: 800px) {
        body #container {
          font-size: 1.1em
        }
      }
      @media (max-width: 500px) { 
        body #container {
          font-size: 0.9em
        } .right { 
          display: none
        } #container .page {
          width: 92%;
        } 
      }
  #body
    #container
      %header
        .outer
          %h1 
            / %a{ href: "/" } RiotVan
            / RV
            %img{ src: "/images/logo.png" }
            .clear
        .nav_cont
          .outer
            %nav
              / ricordarsi di aggiungere il sottomenu
              %a{ href: "/" }           Home
              %a{ href: "/chi_siamo" }  Chi siamo
              %a{ href: "/foto" }       Foto
              %a{ href: "/history" }    History
              %a{ href: "/shop" }       Shop
              %a{ href: "/video" }      Video
              %a{ href: "/argomenti" }  Argomenti
            
      .clear
      #debug
      
      #content
        #webgl
        != yield
  
      %footer
      
