-# %img{ src: "/images/lista_distribuzione.png"}

.page.full
  
  %h2 Lista Distribuzione
  
  %a.back{ href: "/" } < torna alla home
  
  -# TODO: insert google maps here

  :markdown
    **Bar Argentina** Via della Mattonai angolo Viale Gramsci
    
    **Bevo vino** Via di San Niccolò 59r 
    
    **Gold** Via Gioberti 54r
    
    **Feedback store** Corso Tintori 43
    
    **Centro Java infoshop** Via Pietrapiana angolo Via Fiesolana
    
    **Caffè biblioteca delle Oblate** Via Dell'Oriuolo 26
    
    **Société Anonyme** Via della Mattonaia 24
    
    **Danex Records** Via degli Artisti 8
    
    **Circolo Aurora** Viale Pratolini angolo Piazza Tasso
    
    **Bar Massimo** Via Carlo del Prete 9r
    
    **Cardillac** Via degli Alfani 57 r
    
    **Australiano** Borgo Santa Croce 31r
    
    **Soul Kitchen** Via de Benci 34r
    
    **Il Panino Tondo** Via Montebello 56r
    
    **La citè** Borgo San Frediano 20r
    
    **BeBop** Via dei Servi 76
    
    **Velvet Club** P.zza Ghiberti 17r
    
    **X graphics** Via della Pergola 47
    
    **Pop Cafè** Piazza Santo Spirito 18r
    
    **Il Barone** Via Romana 123r
    
    **Casa della Creatività** Vicolo Santa Maria Maggiorer
    
    **Plaz** Piazza dei Ciompi
    
    **Unplugged** Via de' Saponai 14r
    
    **Fuoriskema** Via del Corso
    
    **Kitch** Viale Gramsci 3r
    
    **Notte fiorentina** Borgo san Frediano
    
    **Gustapanino** Via de' Michelozzi 13r
    
    **Caffè Cabiria** Piazza Santo Spirito 4r
    
    **Libreria Brac** Via dei Vagellai 18r
    
    **Piccadilly music store** Via San Gallo 69r
    
    **Volume** Piazza Santo Spirito 5r
    
    **Verticale** Via Aretina
    
    **Ultra** Via XXVII Aprile
    
    **Ethic** Borgo Albizi 37r
    
    **Caffè letterario Le Murate** Piazza delle Murate
    
    **Puzzle Shop** Via F.Doni 27/r
