.page.full.history
  %object.issuu
    %param{ name: "movie", value: "http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;backgroundColor=%23222222&amp;documentId=111201150545-dd5a9c73a02446ec9f59c8f6369604f6"}/
    %param{ name: "allowfullscreen", value: "true"}/
    %param{ name: "menu", value: "false"}/
    %param{ name: "wmode", value: "transparent"}/
    %embed{ allowfullscreen: "true", flashvars: "mode=mini&amp;backgroundColor=%23222222&amp;documentId=111201150545-dd5a9c73a02446ec9f59c8f6369604f6", menu: "false", src: "http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf",  type: "application/x-shockwave-flash", wmode: "transparent"}/