.page.full
  .md<
    ## RiotVan T-Shirts!    
  
  %iframe.yt_video{ src: "http://www.youtube.com/embed/CKsxFXWPzpg", frameborder: "0", allowfullscreen: "allowfullscreen" }
  
  .md<
    ### Prenota ora la tua maglietta o canotta!
    
    Disponibili nelle taglie S, M, L, da uomo o da donna in vari colori.
    
    [redazione@riotvan.net]("mailto:redazione@riotvan.net")
    
    facebook: [Redazione RiotVan]("https://www.facebook.com/profile.php?id=1520541871")
  
  
  %img{ src: '/images/shop.jpg' }