.page.full.cruciverba

  %h2 Soluzioni Cruciverba

  %a.back{ href: "/" } < torna alla home

  %h4 Numero 16

  %img{ src: "/images/cruciverba/16.jpg" }

  %h4 Numero 15

  %img{ src: "/images/cruciverba/15.jpg" }

  %h4 Numero 14 - Ma La Notte No

  %img{ src: "/images/cruciverba/14.jpg" }

  %h4 Numero 13 - Che Mangino Startup

  %img{ src: "/images/cruciverba/13.jpg" }
