- link = "/videos/"+id+"-"+name_url

%h2
  %a{ href: link }
    = title
.text
  != text

.fb
  .fb-like{ "data-href": haml.host+link, "data-send": "true", "data-width": "300", "data-show-faces": "true", "data-action": "recommend", "data-font": "trebuchetms" }
.clear